@use '../../sass' as *;

%base-container {
    display: flex;
    flex-direction: column;
    gap: $base-gap * 2;
}

.bg-container {
    @extend %base-container;

    background-color: $base-background;
    min-height: 100vh;
    padding: $base-padding;
    
    @include lg {
        padding: 0 $base-padding * 2.5;
        padding-bottom: 0;
        flex-direction: row;
    }
}

.details-container {
    @extend %base-container;
    
    @include lg {
        min-width: 25vw;
        max-width: 25vw;
        max-height: 100vh; 
        padding-top: $base-padding * 2.5;
        padding-bottom: $base-padding * 2.5;
        overflow-y: scroll;

        scrollbar-width: none; // Firefox
        -ms-overflow-style: none; // IE and Edge
        &::-webkit-scrollbar {
            display: none; // Chrome, Safari, Opera
        }
    }
}

.works-container {
    @extend %base-container;
    flex-grow: 1;

    @include lg {
        max-height: 100vh;
        padding-top: $base-padding * 2.5;
        padding-bottom: $base-padding * 2.5;
        overflow-y: scroll;

        scrollbar-width: none; // Firefox
        -ms-overflow-style: none; // IE and Edge
        &::-webkit-scrollbar {
            display: none; // Chrome, Safari, Opera
        }
    }
}