$snow-text-1: #748396;
$snow-text-2: #8895a6;

$snow-bg-1: #e3e9f4;
$snow-bg-2: #eef2f8;

// Neon Colors
$neon-blue: #00F0FF;
$neon-purple: #B026FF;
$neon-green: #39FF14;
$neon-pink: #FF10F0;
$neon-yellow: #FFF000;