// import neccessary sass components
@use 'sass:color';
@use 'grid';
@use 'variables' as *;
@use 'breakpoints' as *;

// reset styles
@use 'reset';

// export sass components
@forward 'variables';
@forward 'breakpoints';

// selectors used in more than one component
%base-badge {
    padding: 1px 10px;
    border-radius: 9999px; 
    font-size: 10px;
    box-shadow: $badge-shadow; 
    min-width: 50px; 
    text-align: center;
}

%container {
    box-shadow: $box-shadow;
    border-radius: $border-radius;
    padding: $base-padding;
}

.text-grey {
    color: #aaa;
}

.section {
    @extend %container;
    background-color: $base-background-2;

    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    gap: $base-gap * 1.5;

    @include lg {
        flex-direction: row;
    }

    h2 {
        width: grid.columns(12);
    }

    .card-container {
        width: 100%;
        display: flex;
        flex-direction: row;
        justify-content: flex-start;
        align-content: flex-start;
        flex-wrap: wrap;
        gap: $base-gap;
        row-gap: $base-gap;

        .card {
            flex-shrink: 0;
            width: grid.columns(12); 
            min-width: grid.columns(12);

            @include xs($landscape: true) {
                width: grid.columns(6, $gutter: $base-gap * 2);
                min-width: grid.columns(6, $gutter: $base-gap * 2);
            }

            @include md {
                width: grid.columns(6, $gutter: $base-gap * 2);
                min-width: grid.columns(6, $gutter: $base-gap * 2);
            }

            @include lg {
                width: grid.columns(4, $gutter: $base-gap * 3);
                min-width: grid.columns(4, $gutter: $base-gap * 3);
            }
        }
    }
}

.card {
    @extend %container;
    background-color: $card-background;
    min-height: 200px;
}