/* 
    This will be the Tech Stack displayed in this page.

    Front End:
        HTML, CSS, Sass, JavaScript, TypeScript, React JS

    Back End:
        Express JS, Node JS
    
    Database:
        MongoDB, sqlite3
    
    DevOps:
        Docker, 

        Serverless:
            AWS Lambda, AWS Amplify
        Dedicated Server:
            AWS (s3, ec2, cloudfront, route 53)
*/