@use "sass:color";
@use "../../sass" as *;
@use "../../sass/grid";

.project-card {
  @extend .card;
  // T/ODO: Once all projects are added, add flex-grow: 1;
  // flex-grow: 1;
  height: fit-content;
  position: relative;

  .project-card-status {
    position: absolute;
    top: -0.5em;
    right: -0.5em;

    color: $base-background-2;
    background-color: $text-primary;
    padding: 0.25em 0.75em;
    border-radius: $border-radius;
    box-shadow: $box-shadow;

    font-size: 0.75rem;
    font-weight: 600;
  }

  .project-card-thumbnail {
    img {
      width: 100%;
      height: auto;
      aspect-ratio: 16 / 9;
      border-radius: $border-radius;
      box-shadow: $box-shadow;
    }
  }

  .project-card-body {
    display: flex;
    flex-direction: column;
    gap: $base-gap;
    padding-top: $base-padding * 0.5;
    padding-left: $base-padding * 0.25;
  }

  .project-card-title {
    font-size: 1.25em;
    font-weight: 600;
    color: $text-primary;
    margin-top: 0;
    margin-bottom: $base-margin * 0.5;
  }

  // .project-card-description {
  // }

  .project-card-warning-info {
    margin-top: 0.5em;
    line-height: 1.5;
    font-size: 0.75rem;
    font-style: italic;
    color: $text-secondary;

    .icon {
      font-size: 0.65rem;
      position: relative;
      bottom: -0.1em;
      margin-right: 0.5em;
    }
  }

  .project-card-badges {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    gap: 6px;
    row-gap: 6px;

    .badge {
      @extend %base-badge;
    }

    .device-badge {
      display: flex;
      align-items: center;
      justify-content: center;
      gap: 6px;

      .icon {
        margin-bottom: -1px;
      }

      &.mobile {
        background-color: $mobile-badge-color;
        color: white;
        box-shadow: $badge-shadow;
      }
      &.tablet {
        background-color: $tablet-badge-color;
        color: white;
        box-shadow: $badge-shadow;
      }
      &.computer {
        background-color: $computer-badge-color;
        color: white;
        box-shadow: $badge-shadow;
      }
    }

    .tech-badge {
      background-color: $tech-badge-color;
      color: white;
      box-shadow: $badge-shadow;
    }
  }

  .project-card-links-container {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    gap: $base-gap * 0.5;

    button {
      display: flex;
      flex-direction: row;
      justify-content: center;
      flex-grow: 1;
      gap: 0.5em;

      color: $text-primary;
      background-color: $base-background-2;

      font-size: 0.75rem;
      padding: 0.75em 1.5em;
      border: 1px solid $base-background;
      border-radius: $border-radius * 0.75;

      cursor: pointer;
      outline: none;
      transition: all 0.2s ease-in-out;

      &:hover {
        transition: all 0.3s ease-in-out;
        color: $base-background-2;
        background-color: color.adjust($text-primary, $lightness: -15%);
      }

      .icon {
        margin-bottom: -0.25em;
      }

      .button-text {
        &::after {
          content: url(data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAAAoAAAAKCAYAAACNMs+9AAAAQElEQVR42qXKwQkAIAxDUUdxtO6/RBQkQZvSi8I/pL4BoGw/XPkh4XigPmsUgh0626AjRsgxHTkUThsG2T/sIlzdTsp52kSS1wAAAABJRU5ErkJggg==);
          margin: 0 3px 0 5px;
          opacity: 0.45;
        }
      }
    }
  }
}
