@use 'sass:color';
@use '../../sass' as *;
@use '../../sass/grid';

.project-card {
  @extend .card;

  .project-card-thumbnail {
    img {
      width: 100%;
      height: auto;
      aspect-ratio: 16 / 9;
      border-radius: $border-radius;
      box-shadow: $box-shadow;
    }
  }

  .project-card-body {
    display: flex;
    flex-direction: column;
    gap: $base-gap;
    padding-top: $base-padding * 0.5;
    padding-left: $base-padding * 0.25;
  }

  // .project-card-description {
  // }

  .icon {
    margin-bottom: -1px;
  }

  .project-card-badges {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    gap: 6px;
    row-gap: 10px;

    .badge {
      padding: 1px 10px;
      border-radius: 9999px; // Fully rounded corners
      font-size: 10px;
      box-shadow: $badge-shadow; // Subtle shadow
      min-width: 50px; // Ensure badges don't look like circles
      text-align: center;
    }

    .device-badge {
      display: flex;
      align-items: center;
      justify-content: center;
      gap: 6px;

      &.mobile {
        background-color: $mobile-badge-color;
        color: white;
        box-shadow: $badge-shadow;
      }
      &.tablet {
        background-color: $tablet-badge-color;
        color: white;
        box-shadow: $badge-shadow;
      }
      &.computer {
        background-color: $computer-badge-color;
        color: white;
        box-shadow: $badge-shadow;
      }
    }

    .tech-badge {
      background-color: $tech-badge-color;
      color: white;
      box-shadow: $badge-shadow;
    }
  }

  .project-card-links-container {
    display: flex;
    flex-direction: row;
    gap: $base-gap * 0.5;

    button {
      display: flex;
      flex-direction: row;
      justify-content: center;
      // align-items: center;
      gap: 0.5em;

      color: $text-primary;
      background-color: $base-background-2;
      // line-height: 0;

      padding: 0.75em 2em;
      border: 1px solid $base-background;
      border-radius: $border-radius * 0.75;
      
      cursor: pointer;
      outline: none;
      transition: all 0.2s ease-in-out;

      &:hover {
        transition: all 0.3s ease-in-out;
        color: $base-background-2;
        background-color: color.adjust($text-primary, $lightness: -15%);
      }
    }
  }
}

