@use '../../sass' as *;

.info-record {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    font-size: 0.8 * $base-font-size;
    padding: $base-padding * 0.5;

    @include lg {
        font-size: 0.875 * $base-font-size;
    }

    .info-record-header {
        display: flex;
        flex-direction: row;
        align-items: center;
        gap: 0.5 * $base-gap;
        font-weight: 600;

        .icon {
            font-size: $base-font-size;
            margin-bottom: (-0.0625 * 2) * $base-font-size;
            color: $text-primary;
        }
    }

    .info-record-title {
        font-size: 0.8 * $base-font-size;

        @include lg {
            font-size: 0.875 * $base-font-size;
        }
    }

    .info-record-link {
        &::after {
            content: url(data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAAAoAAAAKCAYAAACNMs+9AAAAQElEQVR42qXKwQkAIAxDUUdxtO6/RBQkQZvSi8I/pL4BoGw/XPkh4XigPmsUgh0626AjRsgxHTkUThsG2T/sIlzdTsp52kSS1wAAAABJRU5ErkJggg==);
            margin: 0 3px 0 5px;
            color: $text-primary; 
            opacity: 0.7;
        }
    }
}