@use "../../sass/grid";
@use "../../sass" as *;

.skills-card-container {
  @extend .card;
  padding: 1.5 * $base-padding;
  width: 100%;
}

.skill-group-list {
  --max-height: 280px;
  --overflow-y: hidden;

  position: relative;
  margin-top: 20px;

	display: flex;
	flex-direction: column;
	gap: $base-gap * 1;

  @include xs {
    max-height: var(--max-height);
    overflow-y: var(--overflow-y);
  }

  @include lg {
    max-height: none;
    overflow-y: visible;
  }
}

$skill-group-line-width: 3px;

.skill-group-list::before {
  /* Vertical line */
  content: "";
  position: absolute;
  left: 0;
  top: 0;

  width: $skill-group-line-width;
  height: 100%;
  border-radius: 2px;

  background: $text-primary;
  opacity: 0.3;
}

.view-all-button-container {
  display: flex;
  justify-content: center;
  margin-top: 20px;

  @include lg {
    display: none;
  }
}

.view-all-button {
  outline: none;
  border: none;
  background: none;
  cursor: pointer;
  
  font-size: $base-font-size * 0.85;
  color: $text-primary;

  text-decoration: underline;
  text-underline-offset: 2px;
  text-decoration-thickness: 1px;

  .view-all-button-text {
    display: inline-block;
    rotate: 90deg;

    position: relative;
    right: 0;
    bottom: -2px;
    font-size: $base-font-size * 1;
    margin-right: 5px;
  }
}