@use "../../sass/grid";
@use "../../sass" as *;

$skill-group-line-width: 3px;

.skill-group-item {
  display: flex;
  align-items: flex-start;
  position: relative;
}

.skill-group-marker {
  position: absolute;
  left: -2.5px;
  top: 18px;
	
  $size: $skill-group-line-width * 3;
  width: $size;
  height: $size;

  border: $skill-group-line-width solid $text-primary;
  box-shadow: 0 0 0 $skill-group-line-width #fff;

  background: #fff;
  border-radius: 50%;
  z-index: 1;
}

.skill-group-content {
  margin-left: $base-gap * 1.5;
  width: 100%;

  display: flex;
  flex-direction: column;
  gap: $base-gap ;

  .card {
    min-width: 200px;
		padding: 10px 15px;
    border-radius: 12px;
		min-height: 10px;

    box-shadow: $box-shadow;
    background-color: $base-background;

    .card-header {
      font-size: $base-font-size * 1;
      font-weight: 600;
      color: $text-primary;
			margin-bottom: $base-margin * 0.5;
    }

    .card-body {
      display: flex;
      flex-direction: row;
      flex-wrap: wrap;
      gap: 6px;
			row-gap: 6px;

      .skill-badge {
				@extend %base-badge;
        background-color: $text-primary;
        color: $base-background;
      }
    }
  }
}
