@use '../../sass/grid';
@use '../../sass' as *;

.tech-stack-card {
    @extend .card;
    padding: 1.5 * $base-padding;

    ul {
        margin: 0px;
        margin-top: $base-margin * 1.5;
        padding: 0px;
        list-style-type: none;

        display: flex;
        flex-direction: row;
        justify-content: space-around;
        flex-wrap: wrap;
        gap: $base-gap;

        li {
            $base-font-size: 0.75rem;
            font-size: $base-font-size;
            font-weight: 500;
            color: $text-secondary;
            white-space: nowrap;

            display: flex;
            align-items: center;
            gap: $base-gap * 0.5;
            width: grid.columns(3);

            svg {
                font-size: $base-font-size * 2;
                flex-shrink: 0;
            }
        }
    }
    
    .link {
        margin-top: $base-margin * 0.5;
        padding: $base-padding * 0.5;
    }
}