@use '../../sass' as *;
@use 'sass:color';

.profile-card {
    @extend .card;

    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: $base-gap * 2;

    padding: $base-padding * 2;
    text-align: center;

    img {
        height: 140px;
        aspect-ratio: 1 / 1;

        border-radius: 100%;
        border: 3.5px solid color.adjust(#152c5f, $lightness: 25%);  // TODO add this color to _colors.scss file

        padding: 1px;
        margin-top: -0.5 * $base-margin;
    }

    h1 {
        font-size: $base-font-size * 1.5;
    }

    p {
        margin-top: $base-margin;
        font-size: $base-font-size;
        font-family: $font-mono;
        opacity: 0.7;
    }

    a {
        font-size: $base-font-size * 0.75;
        font-weight: 500;

        $base-padding: 0.75rem;
        padding: $base-padding * 0.25 $base-padding * 0.75;

        margin-top: -0.5 * $base-margin;

        border: 1px solid $text-secondary;
        border-radius: $border-radius * 0.5;

        &:hover {
            background-color: $text-primary;
            color: $card-background;

            transition: .2s;
            transition-timing-function: cubic-bezier(0,0,.2,1);
            transition-property: color, background-color, border-color, opacity, box-shadow, transform;
        }
    }
}
